@charset "UTF-8";

@font-face {
    font-family: 'Font Titulo';
    src: url(../font/fonts.otf);
};

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body, html{
    width: 100vw;
    height: 100vh;
    background-color: black;
    overflow-x: hidden;
    color: white;
}

.container{
    max-height: 2000px;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.container > img{
    width: 100px;
    margin-bottom: 10px;
}

section{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

section div.text-content{
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1.2em;
}

section div.text-content h1{
    font-size: 2.8em;
    font-family: 'Font Titulo';
    font-weight: lighter;
}

section div.text-content p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    width: 90%;
    line-height: 1.5em;
}

section div.image-content{
    padding: 10px;
}

section div.image-content img{
    border-radius: 10px;
}

section div#image-content_2 img{
    width: 500px;
    height: auto;
}

section div#text-content_2{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-items: center;

}

section div#text-content_2 p, section div#text-content_2 h1{
    margin-left: 10px;
    width: 95%;
    flex-flow: wrap;
}

section div#text-content2 div#texto1{
    margin-top: 5px;
}

section div#text-content_2 div{
    margin-bottom: 40px;
}
