@charset "UTF-8";

.container{
    overflow-x: hidden;
}

section{
    flex-flow: column wrap;
    align-items: center;
}

section > div{
    align-items: center;
}

#section_2{
    display: flex;
    flex-flow: column-reverse wrap;
}

section div#text-content_2{
    margin-left: 0;
}

div.text-content{
    hyphens: auto; 
    overflow-wrap: break-word;
    word-wrap: break-word; 
    line-height: 1.5; 
}

/* div.text-content p , div.text-content h1{
    /* margin-left: 10px; 
} */

div.text-content p{
    text-align: justify !important;
    line-height: 0.8em;
    font-size: 1em;
}

div.text-content h1{
    text-align: center;
    line-height: normal;
    font-size: 2.5em;
}

div.image-content img{
    width: 380px;
}

section div#text-content_1 p{
    text-align: justify;
}

section div#text-content_2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px;
}


section div#image-content_2 img{
    display: none;
}

section#trabalhos img{
    width: 200px;
}