@charset "UTF-8";

.container{
    overflow-x: hidden;
}

section{
    flex-flow: column wrap;
    align-items: center;
}

#section_2{
    display: flex;
    flex-flow: column-reverse wrap;
}

section div#text-content_2{
    margin-left: 0;
}

div.text-content{
    hyphens: auto; /* Habilita hifenização automática */
    overflow-wrap: break-word; /* Quebra palavras longas */
    word-wrap: break-word; /* Compatibilidade com navegadores antigos */
    line-height: 1.5; /* Mantém uma boa altura entre as linhas */
}

div.text-content p , div.text-content h1{
    margin-left: 10px;
}

div.text-content p{
    text-align: justify;
    line-height: 0.8em;
    font-size: 1em;
}

div.text-content h1{
    line-height: normal;
    font-size: 2.5em;
}

div.image-content img{
    width: 100%;
}

section div#text-content_1 p{
    text-align: justify;
}

section div#text-content_2 div{
    padding: 5px 0px;
}

section div#image-content_2{
    align-self: flex-start;
    
}

section div#image-content_2 img{
    display: none;
}